body {
    background-color: #111;
    color:  #fff;
    font-family: 'Cormorant Unicase', serif;
}

.app {
    justify-content: center;
    text-align: center;
}

.app .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}